body {
    background-color: rgb(56, 55, 55);
    color: white; 
}

#icon {
   position: relative;
   left: 140px;
   top: -70px;
    
}

li {
    display: block;
    float: left;
    padding: 5px;   
    font-size: x-large;
}

#NavBar {
    position: relative;
    top: -155px;
    right: -100px;
    
}

#divider {
    position: relative;
    top: -120px;
    left: -10px;
    width: 2500px;
}

#chatbubble{
    position: relative;
    width: 60px;
    height: 60px;
    top: -10px;
    }

#create-post1{
    position: relative;
    left: 200px;
    top: -80px;
    
}

#create-post2{
    position: relative;
    left: 200px;
    top: -80px;
}

header{
    position: relative;
    left: -460px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -300px;
    margin: 0;
}
  
  .post-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
